@use "/src/styles/variables";
@use "/src/styles/mixins";

.hear-from {
  width: 100%;
  min-height: 100vh;
  padding: 120px 5%;
  @include mixins.flex-column-center;
  gap: 64px;

  background-image: url("/src/assets/images/paper-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    @include mixins.overlay;
  }
}

.hear-from__content {
  @include mixins.flex-column-center;
  gap: 41px;
}

.hear-from__text {
  @include mixins.flex-column-center;
  text-align: center;

  h3 {
    color: variables.$off-white;
    text-transform: uppercase;
    @include mixins.fk-screamer(700);
    @include mixins.fk-h3-font;
  }

  h1 {
    color: rgba(234, 0, 0, 1);
    text-transform: uppercase;
    @include mixins.fk-screamer(700);
    @include mixins.fk-h1-font;
    font-size: var(--fk-font-h1-normal);

    position: relative;
    top: -20px;
  }

  p {
    @include mixins.roboto-flex;
    @include mixins.flex-p1-font;
    color: rgba(250, 244, 235, 0.8);
    width: 60%;
  }
}

.hear-from__buttons {
  @include mixins.flex-row;
  gap: 32px;

  .btn {
    @include mixins.btn-custom(rgba(234, 0, 0, 1));
  }

  .btn-outline {
    @include mixins.btn-outline-custom(
      variables.$off-white,
      rgba(234, 0, 0, 1)
    );
  }
}

.hear-from__video {
  width: 50rem;
  height: 55rem;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hear-from__text {
    h1 {
      font-size: 180px;
    }
  }
}

@media screen and (max-width: 990px) {
  .hear-from__video {
    width: 100%;
    height: 610px;
  }
}

@media screen and (max-width: 750px) {
  .hear-from {
    padding: 64px 20px;
    min-height: 100%;
  }

  .hear-from__text {
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 550px) {
  .hear-from__content {
    gap: 22px;
  }

  .hear-from__video {
    width: 100%;
    height: 35rem;
    aspect-ratio: 1;
  }

  .hear-from__buttons {
    gap: 14px;
  }

  .hear-from__text {
    h1 {
      top: -8px;
    }
  }

  .hear-from__buttons {
    flex-direction: column;
    width: 100%;
  }
}
