@use "/src/styles/variables";
@use "/src/styles/mixins";

.history__text {
  h5 {
    color: variables.$white;
  }

  h3 {
    color: rgba(197, 167, 120, 1);
    position: relative;
    top: -16px;
  }

  .btn__container {
    .btn {
      @include mixins.btn-custom(rgba(197, 167, 120, 1), variables.$off-white);
      box-shadow: 0px 4px 20px 0px rgba(245, 104, 20, 0.15);
    }

    .btn-outline {
      @include mixins.btn-outline-custom(
        rgba(203, 203, 203, 1),
        variables.$black
      );
      color: variables.$off-white;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 990px) {
  .history__text {
    h3 {
      line-height: 80px;
      font-size: 120px;

      top: -3px;
    }
  }
}

@media screen and (max-width: 550px) {
  .history__text {
    h3 {
      font-size: 120px;
      line-height: 100px;
    }
  }
}
